<% content_for :header_tags do %>
  <%= javascript_include_tag "glossary.js", :plugin => "redmine_glossary" %>
<% end %>
<h2><%=l(:label_term_new)%></h2>

<%= labelled_form_for :term, @term,
                             :html => {:multipart => true, :id => 'term-form'} do |f| %>
    <%= error_messages_for 'term' %>
    <div class="box tabular">
    <%= render :partial => 'glossary/form', :locals => {:f => f} %>
    </div>
    <%= submit_tag l(:button_create) %>
    <%= submit_tag l(:button_create_and_continue), :name => 'continue' %>
    <%= preview_link (url_for :controller => 'glossary', :action => 'preview', :id => @project), 'term-form' %>
  <%= javascript_tag "$('#term_name').focus();" %>
<% end %>

<div id="preview" class="wiki"></div>

<% html_title(l(:glossary_title)) -%>