<p>If you have not account, please login by account : mulodovn/mulodo5931</p>
<br />
<%= form_for :user, :url => "/login" do |f| %>

  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <br />

  <% if @error != nil %>
  <p>
    <span id="errmsg"><%= @error %></span>
  </p>
<% end %>

  <p>
	<% remember = ""
		if defined? @remember[:remember]
		  if @remember[:remember] == "1"
			remember = "checked"
		  end
		end
	  %>
	<%= check_box(:checkbox,:remember, {:checked => remember}) %> Remember login
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
