<%= link_to 'New Blog', "/blogs/new" %>
<div class="apple_pagination">
  <%= will_paginate @blogsList %>
</div>

<%= render :partial => "blogItem", :collection => @blogsList %>
<br/>
<div class="apple_pagination">
  <%= will_paginate @blogsList %>
</div>
<br/>
<%= link_to 'New Blog', "/blogs/new" %>
