<div class="section">
  <h2>Blogs</h2>

  <ul>
    <% @blogsList.each do |blog| %>
      <li>
        <small><%=blog.title %></small>

        <p>
            <%= blog.content %>. <%= link_to '(more)', "/blogs/detail/#{blog.id}" %>
        </p>
        <small>created: <%=Fdate.string2Datez(blog.created_at) %></small>
        <small>and modified: <%=Fdate.string2Datez(blog.updated_at) %></small>
        <small><%= link_to 'Edit', "/blogs/edit/#{blog.id}" %></small>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Back', "/top" %>
  <%= link_to 'New Blog', "/blogs/new" %>
</div>