<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
</head>
<body>
  <%= render "layouts/menu" %>
  <%= render "layouts/banner" %>
   <div class="contentBox">
	  <div class="innerBox">
		<div class="contentTitle">
		  <span class="title"><%= require_getCat %></span>
		</div>
		<div class="contentText">
		  <%= yield %>
		</div>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
